.container {
  max-width: 1200px;
  width: 100%;
}
/* carousel css  */
.carousel {
  background-image: url(./../img/img_gallery/banner4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: auto 0;
  margin-top: 90px;
}

.carousel::before {
  content: '';
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}
.carousel_content {
  padding: 50px 0;
}
.carousel h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.carousel p {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.carousel a {
  color: #189242;
}

/* Introduction css  */
.introduction .intro_content {
  display: flex;
  align-items: center;
  margin: 50px 0;
  padding: 48px 25px;
}

.introduction .intro_left h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.introduction .intro_left h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.introduction .intro_left h4 {
  font-size: 22px;
  line-height: 32px;
}

.introduction .intro_left {
  width: 50%;
}
.introduction .intro_right {
  width: 50%;
}

.introduction .intro_right p {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

.introduction .intro_right a {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid #189a46;
  transition: all 0.5s;
}

.introduction .intro_right a:hover {
  color: #189a46;
}

/* History css  */
.history {
  background-image: url(./../img/banner2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.history::before {
  content: '';
  background-color: rgba(0, 4, 8, 0.69);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.history .history_content {
  width: 58%;
  margin-left: auto;
  padding: 120px 25px;
}
.history .history_title {
}

.history .history_title h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.history .history_title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: white;
}

.history .history_title p {
  color: #fff;
  opacity: 0.7;
  font-weight: bold;
}

.history .history_years {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

.history .history_item h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}

.history .history_item p {
  color: #fff;
  opacity: 0.7;
}

/* content css  */
.content .container {
  padding: 48px 0;
}
.content .content_info {
  display: flex;
  padding: 24px 25px;
}

.content .content_left {
  width: 50%;
  text-align: right;
  padding: 0 24px 0 15px;
}

.content .content_right {
  width: 50%;
  padding: 0 15px 0 24px;
}

.content .content_left img {
  width: 100%;
  border-radius: 8px;
  margin-top: 16px;
}

.content .content_left h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.content .content_left h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.content .content_left p {
  font-size: 1.2em;
  line-height: 28px;
  margin-top: 16px;
}

.content .content_item {
  display: flex;
  margin: 0 -15px 30px;
}

.content .item_logo {
  padding: 0 15px;
  color: #189a46;
  font-size: 44px;
  text-align: center;
}

.content .item_title a {
  text-align: left;
  margin-bottom: 0;
  color: black;
  font-weight: 600;
  font-size: 24px;
  transition: all 0.5s;
}

.content .item_title a:hover {
  color: #189242;
}

.content .item_title {
  margin-bottom: 20px;
}

/* team css  */
.team {
  background-color: #f9f7fe;
}

.team .container {
  padding: 48px 25px;
}
.team .team_content {
  padding: 24px 25px;
}

.team .team_title {
  text-align: center;
}

.team .team_title h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.team .team_title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.team .team_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

.team .team_item img {
  width: 100%;
  border-radius: 10px;
}

.team .item_img {
  overflow: hidden;
}

.team .team_item {
  text-align: center;
}

.team .team_item a {
  font-size: 22px;
  line-height: 26px;
  color: black;
  font-weight: 600;
  transition: all 0.5s;
}
.team .team_item:hover .item_title a {
  color: #189242;
}

.team .team_item:hover img {
  transform: scale(1.1);
  transition: transform 0.3s linear;
}

.team .team_item p {
  font-size: 16px;
  line-height: 25px;
  color: #696969;
}

.team .team_icon {
  margin-top: 10px;
}

.team .team_icon a {
  color: #189242;
  padding: 10px;
  font-size: 12px;
  background-color: #f3effd;
  transition: all 0.5s;
  border-radius: 5px;
}

.team .team_icon a:hover {
  color: #f3effd;
  background-color: #189242;
}
