/* BANNER  */
.pc_carousel .carousel_item {
    position: relative;
    background: url(./../img/banner1.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 90px);
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
}

.carousel_item.carousel_item2 {
    background: url(./../img/banner2.jpg) no-repeat center;
    background-size: cover;
}

.pc_carousel .carousel_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0c0c0c;
    opacity: 0.6;
    min-height: 100%;
    z-index: -1;
}

.pc_carousel .banner_info {
    max-width: 700px;
}

.pc_carousel .banner_info h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.pc_carousel .banner_info p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
}

.pc_carousel .owl-dots {
    margin-top: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
}

.owl-dots button.owl-dot {
    padding: 1px 6px !important;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #fff;
    display: block;
    border-radius: 25px;
    position: relative;
    opacity: 0.9;
}

.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span {
    background: #189A46;
    width: 30px;
    height: 10px;
}

/* ABOUT */
.about {
    padding: 70px 0 !important;
}

.about .about_content {
    max-width: 700px;
    margin: 0 auto;
}

.about .about_subtitle {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.about h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
}

a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

a.read:hover {
    color: #189A46;
}

/* FEATURES */
.features {
    background-color: rgba(147, 107, 232, 0.05);
    padding: 100px 0;
}

.features .item_bg {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
    background-color: #fff;
}

.features .item_bg:hover {
    background-color: #F3EFFD;
}

.features .icon {
    font-size: 30px;
    color: #189A46;
}

.features .features_content h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    color: #000c04;
    transition: all 0.5s;
}

.features .features_content h4 a:hover {
    color: #189A46;
}

/* OFFER  */
.offer .offer_left img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.offer .offer_right h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
}

.offer .offer_right ul {
    padding: 0;
    margin: 0;
}

.offer .offer_right li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
}


.offer .offer_right span {
    color: #189A46;
    margin-right: 12px;
    background: rgba(147, 107, 232, 0.05);
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

/* NUMBER  */
.number {
    background-color: #189A46;
}

.number .number_item p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.number .number_item h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}

/* PLAN  */
.plan {
    background-color: rgba(147, 107, 232, 0.05);
}

.plan .plan_text h6 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700 !important;
}

.plan .plan_text h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.plan .plan_content {
    margin: 0 5% auto;
    width: 90%;

}

.plan_content .plan_item {
    background-color: #fff;
    border-radius: 6px;
    align-self: center;
}

.plan_item .plan_item_bg {
    /* padding: 3.5em 2.5em; */
    border-right: 0;
}

.plan_content .plan_item h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.plan_content .plan_item h4 {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189A46;
}

.plan_content .plan_item label {
    font-size: 25px;
    vertical-align: text-top;
}

.plan_content .plan_item span {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}

.plan .plan_item_bottom {
    text-align: center;
    padding-top: 1em;
}

.plan .plan_item_bottom ul {
    padding: 0;
}

.plan .plan_item_bottom li {
    text-align: center;
    margin-bottom: 8px;
    color: #696969;
}

.plan .plan_item.active {
    -webkit-transform: scale(1.03);
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
    border-radius: 6px;
}

.plan_item.item2.active .plan_item_top {
    padding: 6.5em 2.5em 3em;
    background: #189A46;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.plan .item .plan_item_bg {
    padding: 3.5em 2.5em;
    border-right: 0;
}


.plan .plan_item h5 {
    font-size: 15px;
    line-height: 20px;
    color: #189A46;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: 10px;
}

.plan .plan_item_bottom {
    padding-bottom: 3.5em;
}

.plan_item .btn_style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 10px;
    background-color: #189A46;
    color: #fff;
    border-color: #189A46;

}

.plan_item a {
    transition: all 1.5s;
}


.plan_item a:hover {
    background-color: #11602d;
}

/* VIDEO  */

.video .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 90px);
}

.video .videoplay .video_icon {
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
}

.videoplay a {
    color: #189A46 !important;
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

.videoplay iframe {
    width: 100%;
    height: 400px;
    display: block;
}


/* TESTIMONIALS */

.pc_testimonials {
    background: #F3EFFD;
}

.pc_testimonials .testimonials_content {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}

.pc_testimonials .testimonials_width {
    max-width: 1050px;
    margin: 0 auto;
}

.pc_testimonials .testimonials_content blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin: 0 1.5em 1.5em;
}

.testimonials_content blockquote q {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.testimonials_content blockquote q::before {
    font-size: 50px;
    color: rgba(147, 107, 232, 0.05);
    line-height: 0.8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: serif;
}

.testi_info .testi_img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
}

.testi_info .testi_user {
    margin: 0;
    margin-left: 20px;
    text-align: left;
}

.testi_info .testi_user h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.testi_info .testi_user p {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    opacity: 0.8;
}

#owl-testimonials .owl-dots {
    position: inherit;
    left: 0;
    right: 0;
    bottom: 30px;
    margin-top: 80px;
}

/* UPDATED  */
.subcribe {
    max-width: 650px;
}

.update h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.update input {
    font-size: 16px;
    color: #777;
    border-radius: 10px;
    padding: 0px 20px;
    height: 60px;
    flex-basis: 70%;
    background: #fff;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.update button {
    margin-left: 20px;
    flex-basis: 27%;
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    color: #fff;
    background-color: #189A46;
    border-color: #189A46;
}

.update button:hover {
    background-color: #11602d;
    border-color: #11602d;
    color: #fff;
}

/* ANIMATION  */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}