/* BANNER  */
.banner .banner_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .item1,
.item3 {
    background-image: url(./../img/banner1.jpg);
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .item2,
.item4 {
    background-image: url(./../img/banner2.jpg);
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ABOUT */
.about {
    padding: 200px 520px !important;
    text-align: center;
}

.about .about_subtitle {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.about h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
}

a.read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

a.read:hover {
    color: #189A46;
}

/* FEATURES */
.features {
    background-color: rgba(147, 107, 232, 0.05);
    padding: 100px 0;
}

.features .item_bg {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
    background-color: #fff;
}

.features .item_bg:hover {
    background-color: #F3EFFD;
}

.features .icon {
    font-size: 30px;
    color: #189A46;
}

.features .features_content h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    color: #000c04;
    transition: all 0.5s;
}

.features .features_content h4 a:hover {
    color: #189A46;
}

/* OFFER  */
.offer .offer_left img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.offer .offer_right h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
}

.offer .offer_right ul {
    padding: 0;
    margin: 0;
}

.offer .offer_right li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
}


.offer .offer_right span {
    color: #189A46;
    margin-right: 12px;
    background: rgba(147, 107, 232, 0.05);
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

/* NUMBER  */
.number {
    background-color: #189A46;
}

.number .number_item p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.number .number_item h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}

/* PLAN  */
.plan {
    background-color: rgba(147, 107, 232, 0.05);
}

.plan .plan_text h6 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700 !important;
}

.plan .plan_text h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.plan .plan_content {
    margin: 0 5% auto;
    width: 90%;

}

.plan_content .plan_item {
    background-color: #fff;
    border-radius: 6px;
    align-self: center;
}

.plan_item .plan_item_bg {
    /* padding: 3.5em 2.5em; */
    border-right: 0;
}

.plan_content .plan_item h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.plan_content .plan_item h4 {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189A46;
}

.plan_content .plan_item label {
    font-size: 25px;
    vertical-align: text-top;
}

.plan_content .plan_item span {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}

.plan .plan_item_bottom {
    text-align: center;
    padding-top: 1em;
}

.plan .plan_item_bottom ul {
    padding: 0;
}

.plan .plan_item_bottom li {
    text-align: center;
    margin-bottom: 8px;
    color: #696969;
}

.plan .plan_item.active {
    -webkit-transform: scale(1.03);
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
    border-radius: 6px;
}

.plan_item.item2.active .plan_item_top {
    padding: 6.5em 2.5em 3em;
    background: #189A46;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.plan .item .plan_item_bg {
    padding: 3.5em 2.5em;
    border-right: 0;
}


.plan .plan_item h5 {
    font-size: 15px;
    line-height: 20px;
    color: #189A46;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: 10px;
}

.plan .plan_item_bottom {
    padding-bottom: 3.5em;
}

.plan_item .btn_style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 10px;
    background-color: #189A46;
    color: #fff;
    border-color: #189A46;

}

.plan_item a {
    transition: all 1.5s;
}


.plan_item a:hover {
    background-color: #11602d;
}