/* reset css  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Jost', sans-serif;
}

ul li,
a {
    text-decoration: none;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}


/* HEADER & NAV-BAR  */
header {
    height: 90px;
    background-color: white;

    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}


.navbar .navbar-brand {
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189A46;
    font-weight: 700;
}

.navbar .nav-item .active {
    color: #189A46;
}

.navbar .nav-item {
    margin-right: 24px;
    transition: all 0.5s;
    position: relative;
}

.navbar .nav-link {
    font-size: 1.2em;
    color: #000c04;
    font-weight: 400;
}

.navbar .nav-item a.nav-link {
    transition: all 0.5s;
}

.navbar .nav-item a.nav-link:hover {
    color: #189A46;
}

.navbar .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: 0px;
    left: 0;
    background-color: #189A46;
    transition: all 0.5s;
}

.navbar .nav-link:hover::before {
    width: 90%;
}

.navbar .collapse {
    padding-left: 300px;
}

.navbar .HeaderSearch a {
    display: inline-block;
    text-align: center;
    bottom: -30px;
    right: 120px;
    color: #189A46;
    width: 45px;
    height: 45px;
    line-height: 32px;
    border-radius: 50%;
    background-color: rgba(147, 107, 232, 0.05);
    transition: all 0.5s;
}

.navbar .HeaderSearch a:hover {
    color: white;
    background-color: #189A46;
}

.header_space {
    margin-bottom: 90px;
}

header .navbar-toggler {
    background-color: #189A46;
}

.navbar button span {
    color: #fff;
}

header .header_site {
    background-color: #fff;
    transition: all 0.5s;
}

#site_header .dropdown-menu {
    transform: translateX(-50px);
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ddd;
    min-width: 13rem;
    padding: 1rem 0 0.3rem;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    margin: 0.125rem 0 0;
}

#site_header .dropdown-menu::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #ddd;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    top: -7px;
    left: 49%;
    z-index: 1001;
}

.navbar .dropdown-menu a {
    transition: all 0.5s;
}

.navbar .dropdown-menu a:hover {
    color: #189A46;
    background-color: #fff;
}

.dropdown-item {
    font-weight: 400;
    font-size: 1.2em;
    position: relative;
    padding-top: 0;
    display: block;
    width: 100px;
    padding-bottom: 14px;
    transition: all 0.5s;
}

.navbar .dropdown-menu a.dropdown-item::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: 0px;
    left: 0;
    background-color: #189A46;
    transition: all 0.5s;
}

.navbar .dropdown-menu a.dropdown-item:hover::before {
    width: 90%;
}



@media screen and (max-width: 992px) {
    .navbar .HeaderSearch a {
        bottom: 10px;
        right: 600px;
    }
}

@media screen and (max-width: 768px) {
    .navbar .collapse {
        padding-left: 220px;
    }

    .navbar .HeaderSearch a {
        bottom: 10px;
        right: 430px;
    }

}

@media screen and (max-width: 576px) {
    .navbar .collapse {
        padding-left: 200px;
    }

    .navbar .HeaderSearch a {
        bottom: 10px;
        right: 370px;
    }
}

/* FOOTER  */
footer {
    margin-bottom: 20px;
    padding-top: 70px;
    background-color: #111;
    color: #696969;
    font-size: 16px;
}

.footer1 {
    border-bottom: 1px solid rgba(103, 99, 99, 0.14);
}

footer a {
    color: #696969;
    transition: all 0.5s;
    font-size: 16px;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.contact_item h2 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    padding-left: 32px;
}

.contact_item .contact_icon li {
    margin-right: 20px;
}

.contact_item li {
    margin-bottom: 20px;
}

.contact_copy {
    padding: 24px 0;
}

.contact_copy a {
    color: #f53626;
}

.contact_copy a:hover {
    color: #f53626;
    text-decoration: underline;
}



.back_to_top {
    width: 50px;
    height: 50px;
    background: #189A46;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 40px;
    color: white;
    transition: all .2s;
    visibility: hidden;
    opacity: 0;

}

.cd-top--is-visible {
    /* // back-to-top button visible */
    visibility: visible;
    opacity: 1;
}